@model Pradeep_DotnetDeveloper.Models.StudentListViewModel

@{
    ViewBag.Title = "GetStudents";
}

<h2 class="text-center">Students</h2>

<div style="margin-top:30px; margin-bottom:70px">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" onclick="AddStudent()">
            Add Student
        </button>
    </div>
</div>

<div>
    <table class="table" id="students">
        <thead>
            <tr>
                <th width="10%">Id</th>
                <th width="15%">First Name</th>
                <th width="15%">Last Name</th>
                <th width="15%">Class</th>
                <th width="30%">
                    <table>
                        <tr>
                            <th width="50%">Subject</th>
                            <th width="50%">Marks</th>
                        </tr>
                    </table>
                </th>
                <th width="15%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Class</td>
                    <td>
                        <table>
                            @foreach (var marks in @item.StudentMarks)
                            {
                                @*<tr>
                                   < <td>@marks.Subject.SubjectName</td>
                                    <td>@marks.Marks/td>
                                </tr>*@
                            }
                        </table>
                    </td>
                    <td>
                        <a onclick="getStudent(@item.Id)">Edit</a>|
                        @Html.ActionLink("Delete", "DeleteStudent", new {  id=item.Id  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:350px">
                <form id="studentForm">
                    <div class="col-md-12" id="studentIdDiv" style="margin:10px">
                        <div class="col-md-5">
                            <label for="firstName">Student Id</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="studentId" id="studentId" disabled />
                        </div>
                    </div>
                    <div class="col-md-12" style="margin:10px">
                        <div class="col-md-5">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="firstName" id="firstName" placeholder="First Name" required />
                        </div>
                    </div>
                    <div class="col-md-12" style="margin:10px">
                        <div class="col-md-5">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="lastName" id="lastName" placeholder="Last Name" required />
                        </div>
                    </div>
                    <div class="col-md-12" style="margin:10px">
                        <div class="col-md-5">
                            <label for="standerd">Class</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="standerd" id="standerd" placeholder="Class" required />
                        </div>
                    </div>
                    <div class="col-md-12" style="margin:10px">
                        <div class="col-md-5">
                            <label for="subject">Subjects</label>
                        </div>
                        <div class="col-md-5">
                            <label for="marrks">Marks/100</label>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin:10px">
                        @foreach (var item in Model.Subjects)
                        {
                            <div class="col-md-5">
                                <input type="text" id="@item.Id-@item.SubjectName" placeholder="@item.SubjectName" disabled />
                            </div>
                            <div class="col-md-5">
                                <input type="number" id="@item.SubjectName.ToLower()marks" placeholder="Marks" min="0" max="100" />
                            </div>
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addStudentButton" onclick="SaveStudent()">Add Student</button>
                <button type="button" class="btn btn-primary" id="updateStudentButton" onclick="UpdateStudent()">Update Student</button>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" defer></script>
<script>
    $(document).ready(function () {
        var studentIdDiv = document.getElementById("studentIdDiv");
        studentIdDiv.style.display = "none";
        var addStudentButton = document.getElementById("addStudentButton");
        addStudentButton.style.display = "none";
        var updateStudentButton = document.getElementById("updateStudentButton");
        updateStudentButton.style.display = "none";
       $('#students').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
           "searching": true,
           "columnDefs": [
               { "orderable": false, "targets": 4 }
           ],
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "scrollCollapse": true,
            "responsive": true
        });
    });

    function AddStudent() {
        document.getElementById('addStudentModalLabel').innerHTML = "Add Student";
        var studentIdDiv = document.getElementById("studentIdDiv");
        studentIdDiv.style.display = "none";
        var addStudentButton = document.getElementById("addStudentButton");
        addStudentButton.style.display = "inline";
        var updateStudentButton = document.getElementById("updateStudentButton");
        updateStudentButton.style.display = "none";

        document.getElementById("studentId").value = "";
        document.getElementById("firstName").value = "";
        document.getElementById("lastName").value = "";
        document.getElementById("standerd").value = "";
        $("#addStudentModal").modal("show");
    }

    function SaveStudent() {
        var firstName = document.getElementById("firstName").value;
        if (firstName.length < 1) {
            alert("Please Enter First Name");
            return;
        }

        var lastName = document.getElementById("lastName").value;
        if (lastName.length < 1) {
            alert("Please Enter Last Name");
            return;
        }

        var standerd = document.getElementById("standerd").value;
        if (standerd.length < 1) {
            alert("Please Enter Class");
            return;
        }
        var marks = [];
        var subjects = @Html.Raw(Json.Encode(Model.Subjects));
        for (var i = 0; i < subjects.length; i++) {
            var getmarks = document.getElementById(subjects[i].SubjectName.toLowerCase() + "marks").value;
            if (getmarks.length > 0) {
                var marksArray = {
                    subjectId: subjects[i].Id,
                    marks: getmarks
                }
                marks.push(marksArray);
            }
        }
        var data = {
            firstName: firstName,
            lastName: lastName,
            class: standerd,
            studentMarks: marks
        }
        $.ajax({
            type: "POST",
            url: '/Home/PostStudent',
            data: data,
            success: function (data) {
                $("#addStudentModal").modal("hide");
                alert("Student Saved");
            }
        });
    }

    function UpdateStudent() {
        var studentId = document.getElementById("studentId").value;
        var firstName = document.getElementById("firstName").value;
        if (firstName.length < 1) {
            alert("Please Enter First Name");
            return;
        }
        var lastName = document.getElementById("lastName").value;
        if (lastName.length < 1) {
            alert("Please Enter Last Name");
            return;
        }
        var standerd = document.getElementById("standerd").value;
        if (standerd.length < 1) {
            alert("Please Enter Class");
            return;
        }
        var marks = [];
        var subjects = @Html.Raw(Json.Encode(Model.Subjects));
        for (var i = 0; i < subjects.length; i++) {
            var getmarks = document.getElementById(subjects[i].SubjectName.toLowerCase() + "marks").value;
            if (getmarks.length > 0) {
                var marksArray = {
                    subjectId: subjects[i].Id,
                    marks: getmarks
                }
                marks.push(marksArray);
            }
        }
        var data = {
            id: studentId,
            firstName: firstName,
            lastName: lastName,
            class: standerd,
            studentMarks: marks
        }
        $.ajax({
            type: "Post",
            url: '/Home/PutStudent',
            data: data,
            success: function (data) {
                $("#addStudentModal").modal("hide");
                alert("Student Saved");
            }
        });
    }

    function getStudent(id) {
        $.ajax({
            type: "Get",
            url: '/Home/GetStudent?id='+id,
            success: function (data) {
                document.getElementById('addStudentModalLabel').innerHTML = "Update Student";
                var studentIdDiv = document.getElementById("studentIdDiv");
                studentIdDiv.style.display = "Block";
                var addStudentButton = document.getElementById("addStudentButton");
                addStudentButton.style.display = "none";
                var updateStudentButton = document.getElementById("updateStudentButton");
                updateStudentButton.style.display = "inline";
                document.getElementById("studentId").value = data.Id;
                document.getElementById("firstName").value = data.FirstName;
                document.getElementById("lastName").value = data.LastName;
                document.getElementById("standerd").value = data.Class;
                var subjects = @Html.Raw(Json.Encode(Model.Subjects));
                //for (var i = 0; i < data.StudentMarks.length; i++) {
                //    document.getElementById(data.StudentMarks[i].Subject.SubjectName.toLowerCase() + "marks").value;
                //}
                $("#addStudentModal").modal("show");
            }
        });
    }
</script>